{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 84,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "", "^[./]"],
  "importOrderParserPlugins": ["typescript"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "proseWrap": "always",
  "endOfLine": "lf"
}
